.Info {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;

  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;

  width: 100%;
  min-height: 51px;
  margin-bottom: 6px;
}

.Icon {
  width: 5%;

  cursor: pointer;
}

.Name {
  width: 30%;
  padding-left: 2%;

  cursor: pointer;
}

.Author {
  width: 25%;

  cursor: pointer;
}

.Album {
  color: #696969;

  width: 30%;

  cursor: pointer;
}

.Like {
  width: 5%;
}

.Like-Icon {
  color: #696969;
}

.Duration {
  color: #696969;
  width: 5%;
  text-align: right;
}

@media (max-width: 1439px) {
  .Info {
    font-size: 12px;
  }
}

@media (max-width: 767px) {
  .Info {
    min-height: 42px;
  }
}

@media (max-width: 767px) {
  .Info {
    align-items: flex-start;
    font-size: 10px;
  }
}
