/* .Logo {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 46px;
} */

.Logo-Menu {
  width: 113px;
  margin-bottom: 26px;
}

@media (max-width: 1439px) {
  .Logo {
    font-size: 16px;
    /* margin-bottom: 30px; */
  }
}

@media (max-width: 1199px) {
  .Logo {
    margin-bottom: 30px;
  }
}
